
language: objective-c

branches:
 only:
 - master

osx_image: xcode8.3
xcode_sdk: iphonesimulator10.3
xcode_project: TravisHelloWorld.xcodeproj # path to your xcodeproj folder
xcode_scheme: TravisHelloWorld

script:
- xcodebuild -project TravisHelloWorld.xcodeproj -sdk iphonesimulator

# - bundle exec rake build
